.card-background {
	margin: 1%;
	width: 29vw;
	border-radius: 2vw;
	overflow: hidden;
	background-color: #bbb;
	height: 38vw;
}

.card-background img {
	max-height: var(--width);
	--width: 40vw;
}

.silouhette {
	height: 800px;
	--width: 40vw;
}
